# فایل‌های شامل note
**/*note*

# فایل‌ها/پوشه‌های شامل workspace
**/*workspace*

# پوشه‌های __pycache__ پایتون
**/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# venv
venv/
**/venv/
**/.venv/
**/env/